.arrows {
    cursor: pointer;
}

.product-image,
.basket-module,
.basket-labels,
.basket-product {
    width: 100%;
}

.removeButton,
.basket,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
    float: left;
}

.productsAndTotal {
    overflow: hidden;
    padding: 160px 0;
}

.products-not-found {
    text-align: center;
}

.basket,
 aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket {
    width: 70%;
}

.basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

}

.basket-labels-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

 li {
    padding: 0.625rem 0;
}

.item {
    width: 55%;
    display: flex;
    align-items: center;
}

.price,
.quantity,
.subtotal {
    width: 15%;
}



.remove {
    float: right;
    position: absolute;
    right: 10px;
    top: 0;
    text-align: right;
    width: 45%;
}

.discount {
    text-decoration: line-through;
}

.discount-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.promocode-input {
    border-radius: 15px;
    padding: 5px;
    outline: none;
}

.remove .removeButton {
    background-color: transparent;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basket-product {
    margin: 10px 0;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-details {
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.summary {
    float: right;
    padding: 1rem;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #666;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
    float: left;
    width: 50%;
}


.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.cart {
    text-align: center;
}

.checkout-button {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
}

.summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .basket,
    .summary,
    .item,
    .remove {
        width: 100%;
    }
    .discount-form {
        flex-direction: column;
        align-items: center;
    }
    .basket-labels {
        display: none;
    }
    .basket-module {
        margin-bottom: 1rem;
    }
    .product-details {
        width: 60%;
    }
    .quantity {
        text-align: center;
        width: 35%;
    }

    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (max-width: 550px){
    .price {
        display: none;
    }
    .subtotal {
        text-align: center;
    }
    .product-image {
        width: 100%;
    }
    .item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .basket-product {
        flex-direction: column;
    }
    .basket-product div {
        margin: 10px;
    }
}

