.cart {
    text-align: center;
}

.cartProduct div:first-child{
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.removeButton {
    width: 130px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    outline: none;
}

.removeButton:active {
    transform: translateY(4px);
}

.removeButton:hover {
    border: 1px solid white;
    color: white;
    background: #267df4 ;
}

.arrows {
    cursor: pointer;
    width: 35px;
    height: 20px;


}



.cartAndTotal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.total {
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 100%;
    width: 500px;
}

