.cart {
    text-align: center;
}

.cartProduct {
    width: 600px;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.removeButton {
    width: 130px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    outline: none;
}

.removeButton:active {
    transform: translateY(4px);
}

.removeButton:hover {
    border: 1px solid white;
    color: white;
    background: #267df4 ;
}

.arrows {
    cursor: pointer;
    width: 30px;
    height: 20px;

}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}