.navbar {
    width: 100% ;
    display: flex;
    justify-content: space-around;
    background: #333;
}

.navbar h3 span {
    color: #267df4;

}

.logo {
    text-decoration: none;
}

.navbar_link {
    text-decoration: none;
}

.navbar_link h3:hover {
    color: #267df4;
    text-decoration: underline;
}

.navbar_logo {
    font-size: 20px;
    color: white;
}

.navbar_cart {
    display: flex;
    padding: 20px;
    cursor: pointer;
}


.cart_title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.cart_image:hover {
    color: #267df4;
}

.cart_image {
    height: 30px;
    color: white;
}

.cart_counter {
    left: 0;
}