.moreAboutProduct {
    margin: 20px;
    display: flex;
    justify-content: center;
}



.item_img {
    max-width: 100%;

}

.about_product h1 {
    line-height: 72px;
    font-weight: 400;
    color: #26272d;
}

.about_product p{
    max-width: 900px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
}

@media (max-width: 1002px){
    .moreAboutProduct {
        flex-wrap: wrap;
        text-align: center;
    }
}