


.moreAboutProduct {
    max-width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.item_img {
    width: 500px;

}

.about_product h1 {
    line-height: 72px;
    font-weight: 400;
    color: #26272d;
}

.about_product p{
    max-width: 900px;
    line-height: 28px;
    font-weight: 400;
    color: #8c8f94;
}